# Compose schema version
version: '3.3'

# Overriding requirements
services:
  client:
#    build:
#      args:
#        REQUIREMENTS: examples/mnist-pytorch/requirements.txt
    deploy:
      replicas: 1
    volumes:
      - ${HOST_REPO_DIR:-.}/modules/fedn/fedn:/app/fedn
      - /var/run/docker.sock:/var/run/docker.sock
